@media all and (max-width: 670px) {
    .menu-icon {
        display: block;
      }
    .navbar {
        display: none;
    }
}

@media screen and (max-width: 767px) {
	.fb-container {
		width: 100%;
		max-width: 500px;
	}
}
 
/* PC用 */
@media screen and (min-width: 768px) {
	.fb-container {
		width: 500px;
	}
}
